{{'{{'}} $keyname := keyOrDefault "version" "v2" {{'}}'}}
{{'{{'}} $service_name := printf "be_version_%s" $keyname {{'}}'}}
upstream {{'{{'}} $service_name {{'}}'}} {
    {{'{{'}}- range service $service_name {{'}}'}}
        server {{'{{'}} .Address {{'}}'}};
    {{'{{'}}- end {{'}}'}}
  }
server {
    listen 80;
    location /{{'{{'}} $keyname {{'}}'}}/ {
        proxy_pass http://{{'{{'}} $service_name {{'}}'}};
    }
}